{% extends 'base.html' %}

{% block title %}
<script src="{{url_for('static', filename='js/OSImage.js')}}"></script>
{% endblock %}

{% block navigation %}
<li role="presentation" class="active"><a href="/task">Task</a></li>
<li role="presentation" class="active"><a href="/report">Report</a></li>
{% endblock %}

{% block content %}

	<div class="well">
		<div id="toolbar">
			<button id="btnshowUploadCF" class="btn btn-warning">Upload Config File</button>
			<!--<button id="btnshowAddISO" class="btn btn-warning">Add OS Image</button>-->
			<!--<button id="btnconfirmDeleteISO" class="btn btn-danger" disabled>-->
				<!--<i class="glyphicon glyphicon-remove"></i>Delete</button>-->
		</div>
		<table id="listTableISO"
			data-toggle="true"
			data-toolbar="#table_toolbar"
			data-search="true"
		    data-show-columns="true"
		    data-pagination="true"
		    data-page-size="15"
		    data-pagination-first-text="First"
		    data-pagination-pre-text="Previous"
		    data-pagination-next-text="Next"
		    data-pagination-last-text="Last"
		    data-show-pagination-switch="true"
		    data-row-style="rowStyle">
		</table>
	</div>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="uploadModalLabel">Upload your Config File</h4>
			</div>
			<div class="modal-body">
				<!-- Text Input-->
				<form role="form" method="POST" enctype="multipart/form-data">
					<input id="uploadCF" name="uploadCF" type="file" multiple>
				</form>
			</div>
			<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

	<div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="editModalLabel">Create New Record for OS Image</h4>
				</div>
				<div class="modal-body">
					<!-- Text Input-->
					<form role="form">
						<div class="form-group row">
							<div class="col-xs-4">
								<label for="inputVender">Vender</label>
									<input id="inputVender" type="text" maxlength="64" class="form-control" />
							</div>
							<div class="col-xs-4">
								<label for="inputVersion">Version</label>
									<input id="inputVersion" type="text" maxlength="64" class="form-control" />
							</div>
							<div class="col-xs-4">
								<label for="inputPhase">Phase</label>
									<input id="inputPhase" type="text" maxlength="32" class="form-control" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-xs-8">
								<label for="inputISO">ISO Image</label>
									<input id="inputISO" type="text" maxlength="64" class="form-control input-md" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-xs-8">
								<label for="inputMD5">MD5</label>
									<input id="inputMD5" type="text" maxlength="128" class="form-control input-md" />
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="btnAddISO" type="button" class="btn btn-primary">Add</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="text-align:center;">
					<h4 class="modal-title" style="color:red;" id="deleteModalLabel">You are going to Delete this forever !!</h4>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="btnDelete" type="button" class="btn btn-primary">Delete</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
